.reviews {
    margin-bottom: 3%;
    list-style-type:none; 
    background-color: #efefef;
    white-space: nowrap;
    overflow: hidden;
}
a:link    {color:#000;}  /* unvisited link  */
a:visited {color:#000;}  /* visited link    */
a:hover   {color:#007bff;}  /* mouse over link */
a:active  {color:#007bff;}  /* selected link   */ 

ul {
    padding-left: 5%;
    padding-right: 15%;
}

#addPostButton {
    background-color: #5daaf3;
    height: 80%;
}


