{% extends "base.html" %}
{% load static %}
{% block title %}
  {{ cities.0.name }} Complexes
{% endblock title %}
{% block head %}
  <style>
    #CitiesContent {
        padding-top: 2%;
        margin: 1%;
        background-color: #5daaf3;
    }

    #rowgutter {
        margin-right: 0px;
    }

    #fixed {
        position: fixed;
        top: 25px;
        width: 100%;
        background-color: white;
    }

    #scrolldiv {
        height: 80vh;
        width: 100%;
    }

    #yellowdiv {
        background-color: yellow;
        height: 75px;
        width: 100%;
    }

    #orangediv {
        background-color: orange;
        height: 700px;
        width: 100%;
    }
  </style>
{% endblock head %}
{% block content %}
  <div class="container-fluid overflow-auto">
    <div class="row justify-content-center"
         id="rowgutter"
         style="margin-top:50px">
      <div class="col-8" style="background-color: #FFFF;">
        <div class="row">
          <div id="yellowdiv"></div>
          {% comment %} Map Bar {% endcomment %}
        </div>
        <div class="row" style="margin-top:10px">
          <div id="orangediv"></div>
          {% comment %} Map {% endcomment %}
        </div>
      </div>
      <div class="col justify-content-center">
        <div class="row" style="text-align:center">
          <h3>Complexes In {{ cities.0.name }}</h3>
        </div>
        <div class="row overflow-scroll" id="scrolldiv" style="margin-top:10px">
          {% for city in cities %}
            <div class="row">
              <div class="col border text-center rounded-4"
                   id="CitiesContent"
                   style="border-radius:80px">
                <a href="{{ city.id }}" style="color:black">
                  <p>{{ city.complex_name }}, {{ city.address }}, {{ city.zipcode }}</p>
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
