{% extends "base.html" %}
{% load static %}
{% block title %}
  Create a Complex
{% endblock title %}
{% block head %}
  <style>
    h1 {
        text-align: center;
    }
    
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
  
        input[type=number] {
            -moz-appearance: textfield;
        }
    
    
  </style>
{% endblock head %}
{% block content %}
  <div class="container">
    <div class="row vh-nav">
      <div class="row justify-content-center align-self-center">
        <h1>Create a Complex</h1>
        {% comment %} How to center the form? {% endcomment %}
        <div class="col-auto">
          <form class="form-horizontal" id="complexForm" method="post" data-cities-url="{% url 'ajax_load_cities' %}">
            {% csrf_token %}
            <fieldset>
              {% for field in form %}
                {% if field.errors %}
                  <div class="control-group error">
                    <label class="control-label">{{ field.label }}</label>
                    <div class="controls">
                      {{ field }}
                      <span class="help-inline">
                        {% for error in field.errors %}{{ error }}{% endfor %}
                      </span>
                    </div>
                  </div>
                {% else %}
                  <div class="control-group">
                    <label class="control-label">{{ field.label }}</label>
                    <div class="controls">
                      {{ field }}
                      {% if field.help_text %}
                        <p class="help-inline">
                          <small>{{ field.help_text }}</small>
                        </p>
                      {% endif %}
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </fieldset>
            <input type="hidden" name="next" value="{{ request.get_full_path }}" />
            <div class="form-actions">
              <button type="submit" class="btn btn-primary mt-2" value="Login">Add Complex</button>
            </div>
          </form>

          <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
          <script>
            $("#id_state").change(function () {
              var url = $("#complexForm").attr("data-cities-url");  // get the url of the `load_cities` view
              var country = $(this).val();  // get the selected country ID from the HTML input
        
              $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                data: {
                  'state': country       // add the country id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_cities` view function
                  $("#id_city").html(data);  // replace the contents of the city input with the data that came from the server
                }
              });
        
            });
          </script>


        </div>
      </div>
    </div>
  </div>
{% endblock content %}
