<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    {% include "bootstrap.html" %}
    <script src="{% static 'home.js' %}"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'home.css' %}" />
    <title>RentReview</title>
  </head>
  <body>
    <!-- {% include "navigation.html" %} -->
    <div class="grid-container">
      <div class="top-row">
        <div id="company-name">Rent Review</div>
      </div>

    <div class="center-padding"></div>  
    <div id="center-center" >
      <form id="cityForm" method="post" >
        <div id="formDiv">
        {% csrf_token %}
        {{form}}
    <script>
        $(function () {
            var availableCities = [
                {% for city in cities %}
            "{{city}}",
            {% endfor %}
            ];
        $("#searchBar").autocomplete({
            source: availableCities
        });
        });
        document.getElementById('searchBar').addEventListener('keypress', function(event) {
        if (event.keyCode == 13) {
            event.preventDefault();
            document.getElementById('cityForm').submit();
        }
    });
    </script>

    <!-- <button id="buttonC" type="submit"  class="btn" >Search</button> -->
    </div>
   </form>
  </div>
  <div class="center-padding"></div>
  <div class="bottom-row"></div>



</div>
  </body>
</html>
