{% extends "base.html" %}
{% load static %}
{% block title %}
  Join Page
{% endblock title %}
{% block head %}
  <style>
    input {
      max-width:100%;
    }
    h1 {
      margin-top:10px;
      text-align:center;
    }
  </style>
{% endblock head %}
{% block content %}
  <div class="container">
    <h1>Join</h1>
    <div class="form-group">
      <form action={% url 'login' %} method="post">
        {% for field in join_form %}
          <div class="fieldWrapper row justify-content-center"
               style="margin-top:10px"
               id="rowgutter">
            {{ field.errors }}
            <div class="col-1" style="text-align:right">{{ field.label_tag }}</div>
            <div class="col-2 ">{{ field }}</div>
            {% if field.help_text %}<p class="help">{{ field.help_text|safe }}</p>{% endif %}
          </div>
        {% endfor %}
        <div class="row-cols-4 fieldWrapper row justify-content-center"
             style="margin-top:10px;
                    text-align:center">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
  {% comment %} <form method="POST">
        {% csrf_token %}
        <table>
          {{ join_form.as_table }}
          <tr>
            <td>
              <input type="submit" class="btn btn-primary" value = "Join"/>
            </td>
            <td>
              Already have an account? <a href={% url 'login' %}><input type="button" class="btn btn-primary" value="Go To Login"></a>
            </td>
          </tr>
  </table> {% endcomment %}
{% endblock content %}
