{% extends "base.html" %}
{% load static %}
{% block title %}
  Login Page
{% endblock title %}
{% block head %}
  <style>
    input {
        max-width: 100%;
    }

    h1 {
        margin-top: 10px;
        text-align: center;
    }
  </style>
{% endblock head %}
{% block content %}
  <div class="container">
    <div class="row vh-nav">
      <div class="row justify-content-center align-self-center">
        <h1>Login</h1>
        {% comment %} How to center the form? {% endcomment %}
        <div class="col-auto">
          <form class="form-horizontal" method="post">
            {% csrf_token %}
            <fieldset>
              {% for field in form %}
                {% if field.errors %}
                  <div class="control-group error">
                    <label class="control-label">{{ field.label }}</label>
                    <div class="controls">
                      {{ field }}
                      <span class="help-inline">
                        {% for error in field.errors %}{{ error }}{% endfor %}
                      </span>
                    </div>
                  </div>
                {% else %}
                  <div class="control-group">
                    <label class="control-label">{{ field.label }}</label>
                    <div class="controls">
                      {{ field }}
                      {% if field.help_text %}
                        <p class="help-inline">
                          <small>{{ field.help_text }}</small>
                        </p>
                      {% endif %}
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </fieldset>
            <input type="hidden" name="next" value="{{ request.get_full_path }}" />
            <div class="form-actions">
              <button type="submit" class="btn btn-primary mt-2" value="Login">Submit</button>
              <a href={% url 'join' %}>
                <button type="button" class="btn btn-primary mt-2">Register</button>
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
