{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
  Login Page
{% endblock title %}
{% block head %}
  <style>
    input {
        max-width: 100%;
    }

    h1 {
        margin-top: 10px;
        text-align: center;
    }
  </style>
{% endblock head %}
{% block content %}
  <div class="container">
    <div class="row vh-nav">
      <div class="row justify-content-center align-self-center">
        <h1>Login</h1>
        {% comment %} How to center the form? {% endcomment %}
        <div class="col-auto">
          <form class="form-horizontal" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            
            <div class="form-actions">
              <button type="submit" class="btn btn-primary mt-2" value="Login">Submit</button>
              <a href={% url 'join' %}>
                <button type="button" class="btn btn-primary mt-2">Register</button>
              </a>
            </div>
            <input type="hidden" name="next" value="{{ request.GET.next }}" />
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
