<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/history">History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/admin" target="_blank">Admin</a>
        </li>

        {% if user.is_authenticated %}
          <li style="align-self: right">
            <a class="nav-link" href="/logout/">Logout ({{user.username}})</a>
          </li>
        {% else %}
          <li style="align-self: right">
            <a class="nav-link" href="/login/">Login</a>
          </li>
        {% endif %}
    </div>
  </nav>