{% extends "base.html" %}
{% load static %}
{% block title %}
{{ city.name }} Complexes
{% endblock title %}
{% block head %}
  <style>
    #CitiesContent {
        padding-top: 2%;
        margin: 1%;
        background-color: #5daaf3;
    }

    #rowgutter {
        margin-right: 0px;
    }

    #fixed {
        position: fixed;
        top: 25px;
        width: 100%;
        z-index:1;
        background-color: white;
    }
    .checked {
            color: orange;
    }
  </style>
{% endblock head %}
{% block content %}
<div id="fixed">
    <div class="container">
      <div class="row justify-content-center" id="rowgutter" style="margin-top:50px">
        <h1 style="text-align:center">{{ city.complex_name }}</h1>
      </div>
      <div class="row justify-content-center" id="rowgutter">
        <p>{{ city.address }}, {{ city.zipcode }}</p>
      </div>
      <div class="row">
        <div class="col-6">
            <h1>Average Ratings: </h1>
            <ul>{% for key, value in complex_data.items %}
                <li style="list-style-type:none">{{ key }}
                        <span class="fa fa-star {% if value > 0 %} checked {% endif %}"></span>
                        <span class="fa fa-star {% if value > 1 %} checked {% endif %}"></span>
                        <span class="fa fa-star {% if value > 2 %} checked {% endif %}"></span>
                        <span class="fa fa-star {% if value > 3 %} checked {% endif %}"></span>
                        <span class="fa fa-star {% if value > 4 %} checked {% endif %}"></span>
                    {{ value }}
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-6">
            <h1> Reviews: </h1>
            <ul>{% for post in post_list %}
                <li style="list-style-type:none">{{ key }}
                        <span class="fa fa-star {% if value > 0 %} checked {% endif %}"></span>
                        <span class="fa fa-star {% if value > 1 %} checked {% endif %}"></span>
                        <span class="fa fa-star {% if value > 2 %} checked {% endif %}"></span>
                        <span class="fa fa-star {% if value > 3 %} checked {% endif %}"></span>
                        <span class="fa fa-star {% if value > 4 %} checked {% endif %}"></span>
                    {{ value }}
                </li>
                {% endfor %}
            </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
