{% extends "base.html" %}
{% load static %}
{% block title %}
Create a Review
{% endblock title %}
<script>
    document.getElementById("add").innerHTML += `<h1 style="text-align:center">Create a Review</h1>`
</script>
{% block head %}
<style> 
    #rowgutter {
        margin-right: 0px;
        height: 30px;
    }

    #Reviews {
        padding-top: 2%;
        margin: 1%;
        background-color: #5daaf3;
    }

    .rating-list li {
        float: right;
        color: #ddd;
        padding: 10px 5px;
    }

    .rating-list li:hover,
    .rating-list li:hover ~ li {
        color: orange;
    }

    .rating-list {
        display: inline-block;
        list-style: none;
    }
    .checked {
        color: orange;
    }
</style>
{% endblock head %}
{% block content %}
<div class="container">
    <div class="row justify-content-center" style="margin-top:160px" id="rowgutter">
        <div class="col-6 justify-content-center d-inline-block overflow-scroll">
            <form method=“post”>
                {% csrf_token %}
                <div class="container" style="padding: 2em">
                    {% for field in form %}
                        <div class="card" style="width: 30rem;">
                            <div class="card-body">
                                <ul class="btn btn-light list-inline rating-list">
                                    <li onclick="rate(5, {{post.id}})">
                                        <i class="fa fa-star {% if post.user_rating > 4 %} checked {% endif %}" title="Rate 5"></i></li>
                                    <li onclick="rate(4, {{ post.id }})">
                                        <i class="fa fa-star {% if post.user_rating > 3 %} checked {% endif %}" title="Rate 4"></i></li>
                                    <li onclick="rate(3, {{ post.id }})">
                                        <i class="fa fa-star {% if post.user_rating > 2 %} checked {% endif %}" title="Rate 3"></i></li>
                                    <li onclick="rate(2, {{ post.id }})">
                                        <i class="fa fa-star {% if post.user_rating > 1 %} checked {% endif %}" title="Rate 2"></i></li>
                                    <li onclick="rate(1, {{ post.id }})">
                                        <i class="fa fa-star {% if post.user_rating > 0 %} checked {% endif %}" title="Rate 1"></i></li>
                                </ul>
                            </div>
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            {% endfor %}   
        </div>
                    <script>
                        const rate = (rating, post_id) => {
                            fetch(`/rate/${post_id}/${rating}/`, {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                }
                            }).then(rest => {
                                window.location.reload();
                            })
                        }
                    </script>
                        </div>

                    </div>
                        <button type="submit" class="btn btn-primary">Post Review</button></form>
                    </div> 
        </div>
    </div>
</div>

{% endblock content %}
<!--for-loops through all the form.key/value pairs-->
