{% extends "base.html" %}
{% load static %}
{% block title %}
{% endblock title %}
{% block content %}

<style>
    #fixed {
        position: fixed;
        top: 25px;
        width: 100%;
        z-index:1;
        background-color: white;
    }
</style>

<div id="fixed">
    <form method=“post”>
        <!--for-loops through all the form.key/value pairs-->
        {% csrf_token %}
        {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
        {% endfor %}
        <button id="buttonC" type="submit"  class="btn" >Submit</button>
</form>
</div>

{% endblock content %}